<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main" th:object="${article}">
    <div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">
        <div class="card-body" >
            <h3 th:text="*{title}"></h3>
            <img alt="..." class="card-img img-fluid" id="img-project" th:src="*{coverPhoto}">
            <p th:utext="*{info}"></p>
            <p th:utext="*{fullText}"></p>
            <div class="alert alert-danger" id="error_message" style="visibility: hidden">
                <p>You already like this post! Or someone liked this post from your IP address=)</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" >
                    <a th:href="'/blog'">
                        <button class="btn btn-sm btn-outline-dark" type="button">Go back
                        </button>
                    </a>
                    <form th:action="'/blog/edit/' + ${article.id}" method="post" sec:authorize="hasAuthority('ADMIN')">
                        <button class="btn btn-sm btn-outline-dark" type="submit">Edit</button>
                    </form>
                </div>
                <small class="fa fa-clock-o" th:text="${#temporals.format(article.timeCreation, ' dd-MM-yyyy HH:mm')}"></small>
                <small class="fa fa-eye" th:text="'  ' + *{views}"></small>
                <button th:onclick="'javascript:like('+ ${article.id} + ');'" class="btn btn-sm btn-outline-dark" type="submit" ><div class="fa fa-thumbs-o-up" id="like-count-text" th:text="${article.likes_count}"></div></button>
            </div>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>