header {
    height: 60px;
    position: fixed;
    top: 0;
    z-index:100;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
.nav-up {
    top: -60px;
}
body{
    padding-top:60px;
}
/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
    body { padding-top: 60px;}
    .nav-up {
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width: 991px) {
    body { padding-top: 60px; }
    .nav-up {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    body { padding-top: 60px; }
}
.image-preview {
    width: auto;
    min-height: auto;
    border: 2px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview__image {
    width: 100%;
    max-height: 300px;
}
.richText-btn{
    color: #343a40;
}
.richText-help {
    visibility: hidden;
}

.navbar-nav > .active > a, .navbar-nav > a:active {
    background-color: #dedede;
    border-radius: 5px;
}

#page-main #img-about-me {
    height: 260px;
    width: 260px;
    float: left;
    padding-right: 20px;
}
#page-main #after-photo {
    clear:left;
    padding-bottom: 5px;
    padding-top: 5px;
}