header {
    height: 60px;
    position: fixed;
    top: 0;
    z-index:100;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
.nav-up {
    top: -60px;
}
body{
    padding-top:60px;
}
/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
    body { padding-top: 60px;}
    .nav-up {
        display: none;
    }
    #page-main #img-me-main {
        height: 170px;
        width: 190px;
        float: left;
        padding-right: 20px;
    }
}
@media screen and (min-width:768px) and (max-width: 991px) {
    body { padding-top: 60px; }
    .nav-up {
        display: none;
    }
    #page-main #img-me-main {
        height: 205px;
        width: 225px;
        float: left;
        padding-right: 20px;
    }
}
@media screen and (min-width: 992px) {
    body { padding-top: 60px; }
    #page-main #img-me-main {
        height: 240px;
        width: 260px;
        float: left;
        padding-right: 20px;
    }
}
.image-preview {
    width: auto;
    min-height: auto;
    border: 2px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview__image {
    width: 100%;
    max-height: 300px;
}
.richText-btn{
    color: #343a40;
}
.richText-help {
    visibility: hidden;
}

.navbar-nav > .active > a, .navbar-nav > a:active {
    background-color: #dedede;
    border-radius: 5px;
}

#page-main #after-photo {
    clear:left;
    padding-bottom: 5px;
    padding-top: 5px;
}

#page-about #img-me-on-cv {
    height: 125px;
    width: 99px;
    float: right;
    margin-right: 55px;
    margin-bottom: 20px;
}
#page-about table {
    clear: right;
}
#page-about #skill td {
     border: solid 1px grey;
}

#page-about #top {
    width: 100%;
}

#page-about #img {
    float: right;
}

.text-muted:hover{
    color: #0b0b0b !important;
}
#img-project {
    height: 20rem; width: auto; display: block; margin-left: auto; margin-right: auto;
}
