<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page.getTitle()}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/css/print.css" media="print">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
            integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="post-content" id="page-about">
<div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">

        <div class="no-print">
            <div style="text-align: center">
                <button class="btn btn-sm btn-outline-dark cent" onclick="window.print();return false;">
                    <div class="fa fa-print" aria-hidden="true"> Print</div>
                </button>
                <button class="btn btn-sm btn-outline-dark cent" id="downloadPDF">Generate PDF</button>
            </div>
        </div>
    <main th:utext="${page.getFullText()}">
    </main>
    <form th:action="'/page/edit/' + ${page.id}" method="post" sec:authorize="hasAuthority('ADMIN')">
        <button class="btn btn-sm btn-outline-dark" type="submit">Edit</button>
    </form>
    </div>
</div>
<div class="no-print">
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
<script>
    $('#downloadPDF').click(function () {
        domtoimage.toPng(document.getElementById('page-about'))
            .then(function (blob) {
                var doc = new jsPDF("p", "mm", "a4");
                doc.addImage(blob, 'PNG', 0, 0, doc.internal.pageSize.width, doc.internal.pageSize.height);
                doc.save("TarasLutsiuk.pdf");
                that.options.api.optionsChanged();
            });
    });
</script>
</html>