<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page.getTitle()}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="post-content" id="page-about">
<div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">
    <form th:action="'/page/edit/' + ${page.id} + '/save'" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="no-print">
            <div style="text-align: center">
                <button class="btn btn-sm btn-outline-dark cent" onclick="window.print();return false;">
                    <div class="fa fa-print" aria-hidden="true"> Print</div>
                </button>
                <button class="btn btn-sm btn-outline-dark cent" id="downloadPDF">Generate PDF</button>
            </div>
        </div>

        <table id="top">
            <tbody>
            <tr>

                <td>

                    <ul style="list-style-type: none;">
                        <li><strong>Contact information</strong></li>
                        <li class="fa fa-phone" aria-hidden="true">&nbsp; <a class="contact-me"
                                                                             href="tel:067-135-40-40">067-135-40-40</a>
                        </li>
                        <br>
                        <li class="fa fa-envelope" aria-hidden="true">&nbsp; <a class="contact-me"
                                                                                href="mailto:LutsiukTI@gmail.com">LutsiukTI@gmail.com</a>
                        </li>
                        <br>
                        <li class="fa fa-skype" aria-hidden="true">&nbsp; <a class="contact-me"
                                                                             href="skype:lutsjukt?call">lutsjukt</a>
                        </li>
                        <br>
                    </ul>

                </td>

                <td id="img" class="print"><img src="/img/me_on_cv.jpg" id="img-me-on-cv" alt="...">
                    <br>
                    Taras Lutsiuk
                </td>

            </tr>
            </tbody>
        </table>
        <input id="views" name="title" th:field="${page.title}" class="form-control" type="hidden"/>
        <label th:for="fullText" style="margin-top: 10px">Full information <small class="text-muted"> *</small></label>
        <textarea rows="5" id="fullText" style="border-style: outset" type="text" class="form-control" th:field="${page.fullText}" placeholder="Enter full text" required></textarea>
        <div style="margin-top: 10px"><input type="submit" class="btn btn-outline-dark" value="Save"/></div>
    </form>
    </div>
</div>
<div class="no-print">
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
<script>
    $('#downloadPDF').click(function () {
        domtoimage.toPng(document.getElementById('page-about'))
            .then(function (blob) {
                var doc = new jsPDF("p", "mm", "a4");
                doc.addImage(blob, 'PNG', 0, 0, doc.internal.pageSize.width, doc.internal.pageSize.height);
                doc.save("TarasLutsiuk.pdf");
                that.options.api.optionsChanged();
            });
    });
</script>
<script src="/js/edit.js"></script>
</html>