<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">
    <div class="post-content" id="page-about">
        <hr/>
        <hr/>
        <p></p>
        <p style="text-align: center">
            This page contains the actual web version of my resume, or you can download a <a href="/files/LutsiukTaras2021.pdf" target="_blank" rel="noreferrer">PDF file</a>.
        </p>
        <hr/>
        <hr/>
        <p></p>
        <table id="top">
            <tbody>
            <tr>
                <td>
                    <ul style="list-style-type: none;">
                        <li><strong>Contact information</strong></li>
                        <li>Phone:&nbsp; in PDF file <i class="fa fa-level-up" aria-hidden="true"></i></li>
                        <li>Email:&nbsp; LutsiukTI@gmail.com</li>
                        <li>Skype:&nbsp; lutsjukt</li>
                    </ul>
                </td>
                <td id="img"><img src="/img/me_on_cv.jpg" id="img-me-on-cv" alt="..."></td>
            </tr>
            </tbody>
        </table>
        <p><strong>Profile </strong></p>
        <p>&emsp;I am from Ivano-Frankivsk, Ukraine. Currently, my main job is selling Stihl products. In my free time I improve my Java programming language skills. On my site you can see open projects in which I participated, as well as learn more about me. I am currently looking for a job as an trainee/junior Java developer.</p>
        <p><strong>Skills</strong></p>
        <p>- Work with Java, Spring Boot, Hibernate, Thymeleaf, Linux (Raspbian), Maven, GIT, IDEA, HTML, CSS, JS, Bootstrap, MySQL, Azure, Github actions</p>
        <p>- Responsive, flexible, strictly following agreements and deadlines. Striving toward continuing professional development in IT.</p>
        <p><strong>Experience / IT related educational practice</strong></p>
        <p style="margin: 0;">&emsp;In 2020, I started to improve my Java programming. During the Java Advanced course at the Academy of IT Clusters, my colleague and I developed an interactive conference assistant program, which I deployed in the Azure cloud service.</p>
        <p style="text-indent: 0ch">Project description: The essence of the project was to create a Spring Boot web application that will ask questions, view already asked questions and increase the rating of already asked questions at conferences with a large audience, where questions are difficult to hear from the speaker or other listeners without additional equipment. dynamics). The administrative part was entrusted to me.</p>
        <p>&emsp;In early 2020, I decided to write a bot telegram to simplify the search for Stihl products for buyers and sellers of the store where I work. This bot combines the ability to quickly find current prices for goods. The bot also knows how to search for a product by name and searches for a list of similar products, and if necessary, calculates a discount. This bot inspired me to improve my Java programming skill.</p>
        <p>&emsp;In 2019, I started learning Java at the Academy of IT Clusters, worked with IDEA and GIT, where I wrote my first project. The idea of the project was to create private and public chat rooms. I also studied SQL and Java courses at Sololearn.</p>
        <p>&emsp;In 2012, I worked as a system administrator at Ivano-Frankivsk University of Oil and Gas. My responsibilities included troubleshooting the computer system, installing and configuring new hardware and software.</p>
        <p><strong>Education</strong></p>
        <p>&emsp;MS in Computer Systems and Networks Engineering in the Oil and Gas Industry, Faculty of Information Technologies. (2012)</p>
        <p>&emsp;College of Electronic Devices IFNTUOG. (2008)</p>
        <p><strong>Languages</strong></p>
        <ul>
            <li>English&mdash;intermediate</li>
            <li>Russian&mdash;advanced</li>
            <li>Ukrainian&mdash;native</li>
        </ul>
        <p>&emsp;</p>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>