<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">
    <div class="post-content" id="page-about">
        <hr/>
        <hr/>
        <p></p>
        <p style="text-align: center">
            This page contains the actual web version of my resume, or you can download a <a href="/files/LutsiukTaras2020.pdf" target="_blank" rel="noreferrer">PDF file</a>.
        </p>
        <hr/>
        <hr/>
        <p></p>
        <table id="top">
            <tbody>
            <tr>
                <td>
                    <ul style="list-style-type: none;">
                        <li><strong>Contact information</strong></li>
                        <li>Phone:&nbsp; in PDF file <i class="fa fa-level-up" aria-hidden="true"></i></li>
                        <li>Email:&nbsp; LutsiukTI@gmail.com</li>
                        <li>Skype:&nbsp; lutsjukt</li>
                    </ul>
                </td>
                <td id="img"><img src="/img/me_on_cv.jpg" id="img-me-on-cv" alt="..."></td>
            </tr>
            </tbody>
        </table>
        <table id="skill">
            <tbody>
            <tr>
                <td>
                    <p><strong>Summary of Qualifications</strong></p>
                </td>
                <td>
                    <p>Speaking about technical work experience:</p>
                    <p>I worked as a system administrator for one year at the Ivano-Frankivsk University of Oil and Gas. I also have experience working with a SQL database, working on sql selections, statistics, small bug fixes.</p>
                    <p>In 2018 I participated in the QA2018 course from ELEKS, where I worked with Jira and Testlink.</p>
                    <p>In 2019, I studied Java at an IT cluster academy, worked with IDEA and GIT, and completed a <a class="image-popup" href="/img/java-basic.jpg">Java Basic course.</a></p>
                    <p>In 2020, I started studying the Spring Framework. Developed the Conference Assistant program, which I deployed in the Azure cloud service, and completed a <a class="image-popup" href="/img/java-advanced.jpg">Java Advanced course.</a></p>
                    <p>I also have little experience with Linux. I have a <a class="image-popup" href="/img/server.jpg">server</a> running Raspbian OS on which I test all my projects.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Skills</strong></p>
                </td>
                <td>
                    <p>- Work with IDEA, GIT, HTML, CSS, Bootstrap, MySQL, Linux (Raspbian), Maven, Java Spring Boot, Hibernate, Thymeleaf, Azure, Github actions</p>
                    <p>- Responsive, flexible, strictly following agreements and deadlines. Striving toward continuing professional development in IT.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Experience / IT related educational practice</strong></p>
                </td>
                <td>
                    <p>- From 2014 till now I work in the company Prykarpatservis as a sales manager. Our company is an official dealer in Ukraine, and I am selling the Stihl brand tool.</p>
                    <p>- In 2012 I worked at the university IFNTUOG, I took care of the computer class, set up the computers</p>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <p><strong>Languages</strong></p>
                </td>
                <td>
                    <p>English&mdash;pre-intermediate</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Russian&mdash;advanced</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ukrainian&mdash;native</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <p><strong>Education</strong></p>
                </td>
                <td>
                    <p>MS in Computer Systems and Networks Engineering in the Oil and Gas Industry, Faculty of</p>
                    <p>Information Technologies</p>
                    <p>2012</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>College of Electronic Devices IFNTUOG</p>
                    <p>2008</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Additional education (courses, trainings)</strong></p>
                </td>
                <td>
                    <p>- In 2020, I studied a Java Advanced course in an IT cluster academy. I was developing an interactive conference assistant application which I deployed to Azure cloud service.</p>
                    <p>- In 2019, I studied Java in the IT cluster academy, worked with IDEA and GIT. I also study courses SQL and Java in the application Sololearn.</p>
                    <p>- In 2018 I participated in the QA2018 course from ELEKS, where I worked with Jira and Testlink</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Hobbies</strong></p>
                </td>
                <td>
                    <p>I like active holidays, trips to the mountains, cycling, volleyball, swimming. In my free time, I like to share delicious meat dishes with family and friends.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>