<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page.title}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container col-xl-7 col-lg-8 col-md-12 col-sm-12 col-xs-12 shadow-sm">

    <main th:utext="${page.getFullText()}">

    </main>
    <form th:action="'/page/edit/' + ${page.id}" method="post" sec:authorize="hasAuthority('ADMIN')">
        <button class="btn btn-sm btn-outline-dark" type="submit">Edit</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
