<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration page </title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6" style="margin-top: 15px">
<form th:action="@{/registration}" method="post">
    <div th:if="${message}">
    User already exist!
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <label th:for="email" style="margin-top: 20px" >Email</label>
    <input id="email" style="border-style: outset" type="email" class="form-control" name="email" placeholder="Enter email to proceed">
    <label th:for="password" style="margin-top: 20px">Password</label>
    <input id="password" style="border-style: outset" type="password" class="form-control" name="password" placeholder="Enter password to proceed">
    <div style="margin-top: 20px"><input type="submit" class="btn btn-outline-dark" value="Registration"/></div>
</form>
            </div></div></div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>