<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-10" style="margin-top: 15px">
<form th:action="@{/registration}" method="post">
    <div class="alert alert-danger"  th:if="${message}">
    User already exist!
    </div>
    <div class="alert alert-info" th:if="${param.logout}">
        You have been logged out.
    </div>
    <input id="id" name="id" type="hidden"/>
    <label th:for="email" style="margin-top: 10px" >Email <small class="text-muted"> *</small></label>
    <input id="email" style="border-style: outset" type="email" class="form-control" name="email" placeholder="Enter email" required>
    <label th:for="password" style="margin-top: 10px">Password <small class="text-muted"> *</small></label>
    <input id="password" style="border-style: outset" type="password" class="form-control" name="password" placeholder="Enter password" required>
    <label th:for="firstName" style="margin-top: 10px">First Name</label>
    <input id="firstName" style="border-style: outset" type="text" class="form-control" name="firstName" placeholder="Enter first name">
    <label th:for="last_name" style="margin-top: 10px">Last Name</label>
    <input id="lastName" style="border-style: outset" type="text" class="form-control" name="lastName" placeholder="Enter last name">
    <div style="margin-top: 10px"><input type="submit" class="btn btn-outline-dark" value="Registration"/></div>
</form>
            </div></div></div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>