<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/richtext/richtext.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/richtext/jquery.richtext.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script type="text/javascript" src="/js/like.js"></script>
    <script type="text/javascript" src="/magnific-popup/magnific-popup.js"></script>
    <script type="text/javascript" src="/magnific-popup/enable_img_popup.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-down">
            <a class="navbar-brand" href="/">Lutsiuk Taras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <div class="nav-item active dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a class="dropdown-toggle btn btn-outline-dark mr-1" href="#" id="navbarDropdown" data-toggle="dropdown" >Admin</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/blog/addnew">New blog</a>
                        <a class="dropdown-item" href="/admin/blog-list">Blog list</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/project/addnew">New project</a>
                        <a class="dropdown-item" href="/admin/project-list">Project list</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/user-list">User list</a>
                    </div>
                </div>
                <div class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                    <a class="dropdown-toggle btn btn-outline-dark mr-1" href="#" id="navbarDropdown2" data-toggle="dropdown" ><i class="fa fa-user" aria-hidden="true"> Account</i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/edit/"><i class="fa fa-edit" aria-hidden="true"> Edit account</i></a>
                    </div>
                </div>
                <div class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-dark mr-1" href="/login">Sign up</a>
                </div>
                <form class="nav-item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-dark mr-1" type="submit" value="Sign Out"/>
                </form>
            </div>
        </nav>
</div>
