<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery-3.5.1.slim.min.js"></script>
    <style>
        body{
            padding-top:60px;
        }
        /* fix padding under menu after resize */
        @media screen and (max-width: 767px) {
            body { padding-top: 60px; }
        }
        @media screen and (min-width:768px) and (max-width: 991px) {
            body { padding-top: 110px; }
        }
        @media screen and (min-width: 992px) {
            body { padding-top: 60px; }
        }
    </style>
    <nav class="navbar fixed-top navbar-light bg-light">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Lutsiuk.tk</a></h5>
        <div class="btn-group">

            <a class="text-dark" href="/"><button type="button" class="btn btn-light" aria-haspopup="true" aria-expanded="false">Home</button></a>
            <a class="text-dark" href="/database"><button type="button" class="btn btn-light" aria-haspopup="true" aria-expanded="false">Database</button></a>
            <a class="text-dark" href="/blog"><button type="button" class="btn btn-light" aria-haspopup="true" aria-expanded="false">Blog</button></a>
            <a class="text-dark" href="/about"><button type="button" class="btn btn-light" aria-haspopup="true" aria-expanded="false">About</button></a>
            <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit 1</a>
                    <a class="dropdown-item" href="#">Edit 2</a>
                    <a class="dropdown-item" href="#">Edit 3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Edit 4</a>
                </div>
            </div>
        </div>
        <a class="btn btn-light" href="/login">Sign up</a>
    </nav>
</div>